@font-face {
    font-family: "JetBrainsMono-Regular";
    src: url("../fonts/JetBrainsMono-Regular.woff2");
}

html {
    height: 100%;
}

#Index {
    color: white;
    background-size: cover;
    background-position: center;
    font-family: Lato;
    background-image: url("https://images.unsplash.com/photo-1480365501497-199581be0e66?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
}

.font-dancing {
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
}

.imgProfil {
    border-radius: 50%;
}

.specialCarac {
    font-family: "JetBrainsMono-Regular";
}

hr {
    width: 400px;
    color: white;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

#content {
    text-align: center;
    padding-top: 10%;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}

h1 {
    font-weight: 700;
    font-size: 5em;
}

.jumbotron {
    color: #2c3e50;
}

.navbar-inverse {
    background: #2c3e50;
}

.navPage {
    font-family: Lato;
    background-color: #eee;
}

/* .push {
    padding-top: 10%;
    border: 2px solid red;
} */

/* .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
} */

.sentence {
    margin-left: 23rem;
}

.card {
    height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.5);
}

.social_icon span {
    font-size: 60px;
    margin-left: 10px;
    color: rgb(40, 107, 170);
}

.social_icon span:hover {
    color: white;
    cursor: pointer;
}

.social_icon {
    position: absolute;
    right: 20px;
    top: -45px;
}

.bg_lightBlue {
    background-color: rgb(40, 107, 170);
}

/* Page About */

.text-center {
    margin-top: 55px;
}

/* #fontSize {
    font-size: 15px;
} */

#cardContext>a {
    text-decoration: none;
    color: #0062cc;
}

.box {
    padding: 60px 0px;
}

.box-part {
    background: #FFF;
    border-radius: 10px;
    padding: 40px 10px;
    margin: 20px 0px;
    /* cursor: pointer; */
    transition: all 0.5s ease-out;
}

.box-part:hover {
    transform: scale(1.1);
}

.text {
    margin: 20px 0px;
}

.fa {
    color: #4183D7;
}

/* login  */

/* .input-group-prepend span {
    width: 50px;
    background-color: rgb(40, 107, 170);
    color: black;
    border: 0;
}

input:focus {
    outline: 0 0 0 0;
    box-shadow: 0 0 0 0;
}

#Email {
    margin-bottom: 3px;
}

.remember {
    color: white;
}

.remember input {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

/* .bodyLogin {
    background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: Lato;
} */

/* 
.login_btn {
    color: black;
    background-color: rgb(40, 107, 170);
    width: 100px;
}

.login_btn:hover {
    color: black;
    background-color: white;
} */